@page {
    size: 8.5in 11in;
    margin: 0.0in;
}

@media print {
    body {
        width: 8.5in;
        height: 11in;
    }
    .controls {
        display: none;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}


.controls {
    position: fixed;
    bottom: 0.1in;
    right: 0.1in;
    
}

.wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 2in);
    gap: 0px;
    grid-auto-rows: 1in;
}

.label {
    contain: layout;
}

.label * {
    position: fixed;
}

.discription {
    font-weight: bolder;
    top: 0.1in;
    left: 0.1in;
}

.barcode {
    bottom: 0.1in;
    left: 0.1in;
}

.price {
    font-weight: bolder;
    bottom: 0.1in;
    right: 0.1in;
}